body {
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 10vh;
	padding-bottom: 10vh;
	font-size: Calc(0.5 * var(--fsize)) !important;
}

#date p {
	font-size: Calc(0.4 * var(--fsize)) !important;
	margin-bottom: -1.5em;
}

.article-link {
	text-decoration: none;
	color: grey !important;
}

.footnote {
	text-decoration: none;
	font-weight: bold;
	position: relative;
	font-size: 0.8em;
	bottom: 0.5em;
}

h2 {
	font-size: 0.8em;
	padding-top: 1em;
}

h3 {
	font-size: 0.7em;
	padding-top: 0.5em;
	margin-bottom: 0em;
	font-weight: normal;
}

p, ul, ol {
	text-align: justify;
	text-align-last: left;
	font-size: Calc(0.5 * var(--fsize)) !important;
	color: grey;
}

a, b, strong, i, em, li, ol, li::marker {
	font-size: inherit;
}

ol li::marker {
	font-weight: bold;
}

a h1 {
	color: black;
	text-decoration: none;
}

pre {
	background-color: #EEEEEE;
	overflow: hidden;
	font-size: Calc(0.4 * var(--fsize)) !important;
	padding: .7em;
}

video {
	margin-left: 10vw;
	width: 60vw;
	align-self: center;
}


img {
	margin-left: 20vw;
	width: 40vw;
	align-self: center;
}

.small {
	margin-left: 30vw;
	width: 20vw;
}

.medium {
	margin-left: 25vw;
	width: 30vw;
}

hr {
	border: 0px;
	border-top: 2px solid grey;
}

table, tr, td, th {
	border: 2px solid grey;
	border-collapse: collapse;
	font-size: Calc(0.7 * var(--fsize)) !important;
	/* table-layout: fixed; */
	width: 60%;
	margin-left: 20%;
}

tr {
	min-width: Calc(1000 * var(--fsize)) !important;
}

#rss {
	position: absolute;
	top: 0em;
	right: 0.5em;
}

#rss a {
	font-size: Calc(0.5 * var(--fsize)) !important;
	text-decoration: none;
}

#background-invert {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	backdrop-filter: invert(1);
	pointer-events: none;
}

h1, h2, h3, h4 {
	filter: url(#filter);
}

hr {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

a, a:visited {
	color: #555;
}

a:hover {
	color: #222;
	filter: url(#filter);
}

.invert-filter, .invert-filter:hover {
  filter: invert(1);
}

#article-bottom {
	font-size: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

#back-button {
	position: fixed;
	top: 2vw;
	left: 2vw;
}

#back-button a {
	text-decoration: none;
}
