body {
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

#date p {
	font-size: Calc(0.8 * var(--fsize)) !important;
	margin-bottom: -1.5em;
}

.article-link {
	text-decoration: none;
	color: var(--p-color) !important;
}

.footnote {
	text-decoration: none;
	font-weight: bold;
	position: relative;
	font-size: 0.8em;
	bottom: 0.5em;
}

h2 {
	font-size: Calc(var(--fsize) * 1.6);
	padding-top: 1em;
}

h3 {
	font-size: Calc(var(--fsize) * 1.4);
	padding-top: 0.5em;
	margin-bottom: 0em;
	font-weight: normal;
}

p, ol, ul {
	text-align: justify;
	text-align-last: left;
	line-height: 1.8;
}

p {
	margin-top: 1.3em;
	margin-bottom: 1.3em;
}

a, b, strong, i, em, li, ol, li::marker {
	font-size: inherit;
}

ol li::marker {
	font-weight: bold;
}

a h1 {
	color: var(--h-color);
	text-decoration: none;
}

video {
	margin-left: 10vw;
	width: 60vw;
	align-self: center;
}

img {
	margin-left: 20vw;
	width: 40vw;
	align-self: center;
}


.small {
	margin-left: 30vw;
	width: 20vw;
}

.medium {
	margin-left: 25vw;
	width: 30vw;
}

.large {
	margin-left: 10vw;
	width: 60vw;
}

@media(max-aspect-ratio: 1/1) {
	img {
		margin-left: 0;
		margin-right: 0;
		width: 80vw;
	}

	.small {
		margin-left: 10vw;
		margin-right: 10vw;
		width: 60vw;
	}

	.medium, .large {
		margin-left: 0;
		margin-right: 0;
		width: 80vw;
	}
}

hr {
	border: 0px;
	border-top: 2px solid var(--p-color);
}

table, tr, td, th {
	border: 2px solid var(--p-color);
	border-collapse: collapse;
	font-size: Calc(1.4 * var(--fsize)) !important;
	/* table-layout: fixed; */
	width: 60%;
	margin-inline: auto;
	color: var(--h-color);
}

tr {
	min-width: Calc(1000 * var(--fsize)) !important;
}

#rss {
	position: absolute;
	top: var(--fsize);
	right: var(--fsize);
}

#rss a {
	text-decoration: none;
}

h1, h2, h3, h4 {
	filter: url(#filter);
}

hr {
	margin-top: Calc(2 * var(--fsize));
	margin-bottom: var(--fsize);
}

a, a:visited {
	color: var(--ph-color);
}

a:hover {
	color: var(--h-color);
	filter: url(#filter);
}

.invert-filter, .invert-filter:hover {
  filter: invert(1);
}

#article-bottom {
	font-size: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

#back-button {
	position: fixed;
	top: 2vw;
	left: 2vw;
	font-size: Calc(2 * var(--fsize));
}

#back-button a {
	text-decoration: none;
}

.math-inline {
	margin-top: -0.4em;
	margin-bottom: -0.1em;
	display: inline-block;
	color: var(--ph-color);
}

.math-block {
	display: block;
	text-align: center;
	align-self: center;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-right: auto;
	color: var(--ph-color);
}

.katex {
	font-size: 1.3em !important;
}

.math-block .katex {
	font-size: 1.7em !important;
}
