code, code span {
	overflow: hidden;
	width: 80vw;
	font-size: inherit;
	background-color: #111111;
	tab-size: 4;
	color: #9f9f9f;
}

pre {
	background-color: #111111;
	overflow: auto;
	scrollbar-color: var(--p-color) #111111;
	scrollbar-width: thin;
	font-size: Calc(0.8 * var(--fsize)) !important;
	padding: .7em;
}

.hljs-keyword {
	font-weight: bold;
}

.hljs-string,
.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
	color: #ffffff;
}

.hljs-string,
.hljs-number {
	color: #999999;
}

.hljs-comment, .hljs-quote {
	color: #555555;
	font-style: italic;
}

.language-lisp .hljs-name {
	font-weight: bold;
}
