#main-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

body {
	overflow: hidden !important;
}

h1 {
	font-size: Calc(2 * var(--fsize));
	margin: 0;
	margin-top: 0.3rem;
	line-height: 0.6;
	z-index: -1;
}

h1:before {
	animation-name: hhh;
	animation-duration: 0.8s;
	animation-timing-function: ease;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
	animation-play-state: paused;
	content: "";
}

h1:hover:before {
	animation-play-state: running;
}

a {
	text-decoration: none;
}

#github-container {
	width: 100%;
	text-align: right;
	z-index: 10;
}

#bottom-corner {
	position: fixed;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: row-reverse;
}

#bottom-corner a {
	font-size: Calc(0.5 * var(--fsize));
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

@keyframes hhh {
	0% {
		content: "h";
	}
	5% {
		content: "hh";
	}
	10% {
		content: "hhh";
	}
	15% {
		content: "hhhh";
	}
	20% {
		content: "hhhhh";
	}
	25% {
		content: "hhhhhh";
	}
	30% {
		content: "hhhhhhh";
	}
	35% {
		content: "hhhhhhhh";
	}
	40% {
		content: "hhhhhhhhh";
	}
	45% {
		content: "hhhhhhhhhh";
	}
	50% {
		content: "hhhhhhhhhhh";
	}
	55% {
		content: "hhhhhhhhhhhh";
	}
	60% {
		content: "hhhhhhhhhhhhh";
	}
	65% {
		content: "hhhhhhhhhhhhhh";
	}
	70% {
		content: "hhhhhhhhhhhhhhh";
	}
	75% {
		content: "hhhhhhhhhhhhhhhh";
	}
	80% {
		content: "hhhhhhhhhhhhhhhhh";
	}
	85% {
		content: "hhhhhhhhhhhhhhhhhh";
	}
	90% {
		content: "hhhhhhhhhhhhhhhhhhh";
	}
	95% {
		content: "hhhhhhhhhhhhhhhhhhhh";
	}
	100% {
		content: "hhhhhhhhhhhhhhhhhhhhh";
	}
}

#invert-circle {
  position: absolute;
  top: 50%;
  left: 17%;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  backdrop-filter: invert(1);
  background-color: #00000090;
  color: black;
  z-index: -1;
  transition: width 1s, height 1s;
  transition-timing-function: ease;
}

#bottom-corner a {
  z-index: -2 !important;
}

#writings-link {
  z-index: 2;
}

a:hover #invert-circle {
  width: Calc(3 * var(--fsize));
  height: Calc(3 * var(--fsize));
}

a:active #invert-circle {
  width: Calc(1500vh + 1500vw);
  height: Calc(1500vh + 1500vw);
  transition-duration: 2s;
}
