#main-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

h1 {
	font-size: Calc(2 * var(--fsize));
	margin: 0;
	margin-top: 0.3rem;
	line-height: 0.6;
}

a {
	text-decoration: none;
}

#github-container {
	width: 100%;
	text-align: right;
}
