<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="List of technologies I've worked with">
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22 style=%22background-color:white%22><text y=%221em%22 x=%220.3em%22 font-size=%2280%22 font-family=%22sans%22>  h</text></svg>">
	<title>Technologies</title>
	<link rel="stylesheet" href="../main.css">
	<link rel="stylesheet" href="./index.css">
</head>

<body>
	<!-- <h1>Technologies</h1> -->
	<div id="graph">
		<!-- % for link in links %}
			<div
				class="link"
				style="
					--width: Calc({{link.length}}vw * 80);
					width: var(--width);
					background-color: black;
					height: 3px;
					left: Calc(Calc(Calc({{link.x * 100}}vw - Calc(var(--width) / 2)) * 0.8) + 10vw);
					top: Calc(Calc(Calc({{link.y * 100}}vh - 2px) * 0.8) + 10vh);
					transform-origin: 50% 1.5px;
					transform: rotate({{180-link.angle}}deg);
					"
			></div>
		% endfor %}
		--!>
		{% for node in nodes %}
			<a href="{{ node.tagName | simplify }}.html">
				<div
					class="node"
					id="{{node.tagName}}"
					style="
						--radius: Calc({{2 * Math.pow(1.03, node.titles.length)}} * var(--fsize));
						width: var(--radius);
						height: var(--radius);
						left: Calc(Calc(Calc({{node.x * 100}}vw - Calc(var(--radius) / 2)) * 0.8) + 10vw);
						top: Calc(Calc(Calc({{node.y * 100}}vh - Calc(var(--radius) / 2)) * 0.8) + 10vh);
						font-size: Calc(var(--radius) / 7);
						"
				>{{node.tagName.replace("/", "/ ")}}</div>
			</a>
		{% endfor %}
	<div>
	<!--<p>
		{% for tag, value in tags %}
		<a href="{{ tag | simplify }}.html">{{ tag }}</a><span>, </span>
		{% endfor %}
	</p>-->
</body>

<style>
.node {
	position: absolute;
	background-color: white;
	border: 2px solid grey;
	border-radius: 100%;
	font-size: Calc(0.3 * var(--fsize));
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transform-origin: 50% 50%;
	transform: scale(100%);
	transition: transform 0.5s ease-in-out;
}

.node:hover {
	transform: scale(120%);
}

a {
	text-decoration: none !important;
}
</style>
</html>
